/* Write your CSS here */
.mainBg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
}
.mainCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}
.inputCont {
  max-width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}
.commentBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
